.container_principal {
    padding: 8px;
    // border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 9px 10px 5px 0px rgba(145, 145, 145, 0.75);
    -webkit-box-shadow: 9px 10px 5px 0px rgba(145, 145, 145, 0.75);
    -moz-box-shadow: 9px 10px 5px 0px rgba(145, 145, 145, 0.75);
    background-color: white;
}

.container_icon_piramide {
    background: rgb(205, 93, 93);
    width: 2.9rem;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    // padding: 1px;
    border-radius: 10px;
}

.container_icon_oceanica {
    background:rgb(94 185 185);
    width: 2.9rem;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    // padding: 1px;
    border-radius: 10px;
}

.title_client {
    color: black;
    font-family: sans-serif;
    font-size: 15px;
}

.container_card {
    height: auto;
    gap: 1rem;
    display: flex;
    align-items: center;
    color: white;
    margin-left: 14px;
}


@media (max-width: 700px) {
    .card_body_container {
        // border: 2px solid red;
        margin-bottom: 2rem
    }
}

.divider {
    border-bottom: 2px solid black;
    margin-right: 1rem;
    width: 90%;
    margin-top: 1rem;
    width: 89%;
}

.card_body_container {
    // border: 2px solid red;
    padding: 1rem
}